.login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 670px;
    gap: 10px;
}

input[type="text"],
[type="password"] {
    padding: 10px;
    border: none;
    border: 1px solid rgb(68, 67, 67);
    border-radius: 4px;
    width: 400px;
    height: 50px;
}

input::placeholder {
    color: rgb(68, 67, 67);
}

hr {
    width: 100%;
    border: 1px solid black;
}

#remember_me {
    background-color: #1ed760;
    height: 20px;
    width: 15px;
    margin-left: 4px;
}

.login_btn {
    background-color: #1ed760;
    color: black;
    padding: 14px;
    border-radius: 28px;
    border: none;
    width: 150px;
    font-weight: bold;
}

.signup_btn {
    background-color: white;
    color: gray;
    padding: 14px;
    border-radius: 28px;
    border: 2px solid gray;
    font-weight: bold;
}

.action_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 412px;
}